.swal2-styled.swal2-confirm.swalBtnColor {
  color: #e9183b
}
.ocultar{
  margin-left:280px;
  visibility: hidden;
}
.unfav{
  margin-left:280px;
  background-color: #5f5e5e ;
}
.fav{
  margin-left:280px;
  background-color: #e9183b;
}
.botones{
  display: flex;
  flex-direction: row;
}
.nav-item{
  z-index: 1000000;
}
.eliminar{
  margin-top: 60px;
  font-size: 19px;
}
.dropdown-item{
  width: 500px;
  display: flex;
  flex-direction: row;
}
.div1{
  display: flex;
  flex-direction: row !important; 
  gap: 20px;
}
.dropdown-item img{
  height: 90px;
  width: 150px;
}
.dropdown-item div{
  margin-top: 10px;
}
.dropdown-item h5 {
  font-size: 20px;
}
.precio{
  color: #e9183b;
  font-size: 18px;
}
.boton-comprar{
  background-color: #e9183b;
  margin-left: 20px;
  height: 50px;
}
.color-btn{
  background-color: #e2425d !important;
}

.navbar-brand {
  font-size: 2rem;
  margin-left: 20px;
}

.navbar-nav {
  gap: 30px;
}

.btn {
  color: aliceblue;
  border: 1px solid white;
}

.container {
  margin-top: 100px;
}

.mb-4 img {
  width: 40px;
  height: 40px;
  gap: 10px;
}

.nav_bar {
  background: -webkit-gradient(linear, right top, left top, from(#e9183b), to(#4e2020));
  background: linear-gradient(to left, #e9183b, #4e2020);
}

body {
  font-family: "Open Sans", sans-serif;
}

body .content h2 {
  color: #0c0b0b;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

body .content .article1 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
}

body .content .article1__item {
  height: 226px;
  width: 337px;
}

body .content .article1__item img {
  width: 100%;
  border-radius: 10px;
}

body .content .article1__item p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: solid;
}

body .content .article2 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
}

body .content .article2__item iframe {
  border-radius: 10px;
  height: 200px;
  width: 350px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .content .article2__item iframe:hover {
  height: 400px;
  width: 500px;
}

body .content .article2__item p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: solid;
}

body .content .article3 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 300px;
}

body .content .article3__item iframe {
  height: 600px;
  width: 350px;
  border: 3px solid black;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .content .article3__item iframe:hover {
  height: 800px;
  width: 700px;
}

body .grupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .grupo h3 {
  margin-left: 15px;
}

body .grupo p {
  margin-left: 15px;
}

body .grupo h2 {
  margin-top: 10px;
  margin-left: 15px;
  color: #f01036;
}

body .grupo .item {
  margin-top: 100px;
  height: 480px;
  width: 470px;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border: 2px solid #9c9c9c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .grupo .item img {
  margin-bottom: 20px;
  width: 100%;
}

body .form {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  background-color: #e9183b;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

body .form h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

body .form .auto {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .form .auto h2 {
  color: #ffff;
  margin-bottom: 20px;
  margin-left: 1px;
}

body .form .propetario {
  color: #ffff;
  margin-bottom: 20px;
  margin-left: 1px;
}

body .form .propetario h2 {
  color: #ffff;
  margin-bottom: 20px;
  margin-left: 1px;
}

body .form .controls {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: #f8f7f7;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1b0202;
}

body .log {
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: #ffff;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  gap: 20px;
}

body .log__items {
  background-color: #ffffff;
  width: 200px;
  border: 2px solid #9c9c9c;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

body .log h2 {
  color: #000000;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

body .log h4 {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

body .log p {
  font-weight: bolder;
  color: #e9183b;
  margin-left: 10px;
}

body .log img {
  height: 200px;
  width: 200px;
  border: 6px solid #b81530;
  border-radius: 6px;
  margin-left: 10px;
}

body .nos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .nos h1 {
  font-size: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

body .nos article {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

body .nos img {
  width: 350px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
  body .content .article1 {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 120px;
  }
  body .content .article1__item {
    width: 300px;
  }
  body .content .article2__item iframe {
    width: 300px;
  }
  body .content .article3 {
    gap: 50px;
  }
  body .content .article3__item iframe {
    height: 600px;
    width: 270px;
  }
  body .grupo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .grupo .item {
    margin-top: 100px;
    height: 340px;
    width: 340px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
    border: 2px solid #9c9c9c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  body .log {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: #e9183b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
    gap: 20px;
  }
  body .nos img {
    width: 200px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  body .nos h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
  }
  body .nos article {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  body .form {
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    background-color: #e9183b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
}
